body {
	margin: 25px;
}

img {
	margin-right: 10px;
	width: 75px;
}

section {
	margin-bottom: 10px;
}

#biography {
	background-color: #f8f8f8;
	padding: 10px;
	border-radius: 5px;
}

.bold-font {
	font-weight: bold
}